/* Global */
:root {
  /* Color */
  --color-pink: #fd0272;
  --color-yellow: #ffdd4d;
  --color-grey_light: #ecedf2;
  --color-grey: #868a94;
  --color_grey_dark: #333333;

  /* font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  margin: 8rem 5rem;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  max-width: 60rem;
}
/* Leftpart of the section */
.left_container {
  width: 100%;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left_logo {
  display: flex;
  align-items: center;
}
.left_logo img {
  width: 2.5rem;
}
.left_logo span {
  margin-left: 0.5rem;
  font-size: 1.3rem;
  font-weight: var(--font-semi-bold);
}
.left_heading {
  margin: 1.5rem 0;
  font-size: 4rem;
  font-weight: var(--font-bold);
}
.left_heading span {
  color: var(--color-pink);
}
.left_text {
  margin: 0;
  color: var(--color-grey);
  font-weight: var(--font-regular);
  font-size: 1.3rem;
  line-height: 2rem;
}

/* Right part of the section-login */
.right_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--color-grey_light);
  border-radius: 10px;
  padding: 3rem 2rem;
}
.tag {
  position: absolute;
  top: -1rem;
  left: -1rem;
  background-color: var(--color-yellow);
  padding: 1rem 1.3rem;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
}
.greeting {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}
.login_name,
.login_email {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: var(--font-semi-bold);
}
#name,
#email {
  margin-top: 0.5rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: 2px solid var(--color-grey_light);
  font-size: 0.8rem;
  font-weight: var(--font-medium);
}
/* Checkbox */
.login_agreement {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
#agreement {
  display: none;
}
#agreement + #agreement_box {
  display: inline-block;
  margin-right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid var(--color-grey_light);
  /* background-color: var(--color-pink); */
  border-radius: 4px;
  cursor: pointer;
}
#agreement:checked + #agreement_box {
  background-color: var(--color-pink);
  border: none;
  transition: all 300ms ease-in-out;
}

#agreement_label {
  font-size: 0.8rem;
  font-weight: var(--font-semi-bold);
}

#agreement_label > a {
  text-decoration: underline;
  color: black;
}
#agreement_label > a:visited {
  color: blue;
}

#submit_btn {
  margin-top: 1.5rem;
  border-style: none;
  background-color: var(--color-pink);
  color: white;
  border-radius: 10px;
  padding: 1rem 4rem;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
}
#submit_btn:hover {
  cursor: pointer;
  background-color: #bd085a;
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal_overlay {
  background-color: var(--color_grey_dark);
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.modal_popup {
  position: relative;
  width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
  background-color: white;
  border-radius: 8px;
}
#popup_close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-style: none;
  border-radius: 50px;
  color: var(--color-grey);
  font-size: 0.5rem;
}
#popup_close:hover {
  cursor: pointer;
}
#popup_img {
  width: 8rem;
}

#popup_img img {
  width: 100%;
}

#popup_greeting {
  font-size: 1.5rem;
  margin: 0;
}
#popup_text {
  color: var(--color-grey);
  font-size: 1rem;
}
.hidden {
  display: none;
}

/*For blew 770px  */
@media only screen and (max-width: 770px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    margin: 0;
  }

  .left_container {
    margin: 4rem 0;
  }
}
